<!-- Logging Configuration File for Logback -->
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.cxf" level="INFO" />
	<logger name="org.apache.cxf.jaxrs.impl.WebApplicationExceptionMapper" level="ERROR" />
	<logger name="org.apache.cxf.phase.PhaseInterceptorChain" level="INFO" />
	<logger name="org.apache.cxf.interceptor" level="INFO" />
	<logger name="org.springframework" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
